@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden !important
}

body {
  @apply font-sans;
  overflow-x: hidden !important
}


.cart-icon{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100000 !important;
  display: block;
}

.image-bg{
  background-color: #F1F1F1 !important;
}

@media (width >= 100px) {
  .container {
      max-width: 100% !important;
  }
}

  .curreny-swithcer{
    margin-right: 5px !important;
  }

  @media (width <= 768px) {
  .curreny-swithcer{
    margin-right: 25px !important;
  }
  }